body{
    margin: 0;
    padding: 0;
    max-width: 1920px;
    max-height: 1080px;
    font-family: 'Poppins', sans-serif;
    display: center;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-align: justify;
    background: rgb(2,2,2);
}

p{
    margin: 0;
    font-size: 13px;
    line-height: 13px;
    background: url(s.jpg);
    background-attachment: center;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-clip: text;
    background-attachment: center;
    -webkit-text-fill-color: rgba(255,255,255,0.1);
}